{% extends "base.html" %}
{% block content %}

<h2>Your Library</h2>

<div class="book-grid">
{% for book in books %}
    <div class="book-card">
        <h3>
	    <p>{{ book.title }}</p>
	    <p>{{ book.author }}</p>
            {% if book.series_name %}
                <br>
                <small>
                    Series: {{ book.series_name }}
                    {% if book.series_position %}
                        (Book {{ book.series_position }})
                    {% endif %}
                </small>
            {% endif %}
        </h3>

        
	<p>Reading: {{ book.reading_status.value }}</p>
	<p>Ownership: {{ book.ownership_status.value }}</p>
        <p>Rating: {{ book.rating or "-" }}</p>

        <p>
            Tags:
            {% if book.tags %}
                {% for tag in book.tags %}
                    {{ tag.name }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            {% else %}
                -
            {% endif %}
        </p>
        <div class="book-actions">
        <a class="button" href="/edit/{{ book.id }}">Edit</a> 
        <a class="button" href="/delete/{{ book.id }}">Delete</a>
	</div>
	<hr>
    </div>
{% else %}
    <p>No books yet.</p>
{% endfor %}
</div>
{% endblock %}
