{% extends "base.html" %}
{% block content %}

{% for book in books %}
    <div>
        <h3>{{ book.title }} by {{ book.author }}</h3>
        <p>
            Reading: {{ book.reading_status.value }} |
            Ownership: {{ book.ownership_status.value }} |
            Rating: {{ book.rating or "-" }}
        </p>
        <p>
            Tags:
            {% for tag in book.tags %}
                {{ tag.name }}
            {% endfor %}
        </p>
        <a href="/edit/{{ book.id }}">Edit</a> |
        <a href="/delete/{{ book.id }}">Delete</a>
        <hr>
    </div>
{% else %}
    <p>No books yet.</p>
{% endfor %}

{% endblock %}
